@use 'reset';
@use 'variables/global';

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(11, 20, 26, 0.2) transparent;
}

.app {
    font: var(--font-s);
    background-color: var(--bg-color);
    height: 100vh;
}
.react-tel-input .flag-dropdown.open .selected-flag {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.react-tel-input .selected-flag:hover {
    background-color: #fff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
