.title {
    color: var(--text);
}

.text {
    color: var(--text);
}

.primary {
    .title {
        color: var(--primary-title);
    }

    .text {
        color: var(--primary-text);
    }
}
.succes {
    .title {
        color: var(--succes);
    }

    .text {
        color: var(--succes);
    }
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.grey {
    .title {
        color: var(--text-grey);
    }

    .text {
        color: var(--text-grey);
    }
}

.white {
    .title {
        color: white;
    }

    .text {
        color: white;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_xs {
    .title {
        font: var(--font-s);
    }

    .text {
        font: var(--font-xs);
    }
}
.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
.lighter {
    .title,
    .text {
        font-weight: lighter;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
