.sidebar {
    width: 100%;
    background-color: white;
}

.header {
    padding: 0 16px;
    height: 64px;
}
.addButtonBlock {
    padding: 0 16px;
    height: 64px;
    background-color: var(--bg-hover);
}
.addButton {
    justify-content: center;
}
