.sidebarFooter {
    padding: 0 16px;
    height: 64px;
    background-color: var(--bg-hover);
}
.addButton {
    justify-content: center;
}
.error {
    padding-top: 10px;
    background-color: var(--bg-hover);
}
